@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar-button {
  width: 100%;
  display: flex;
  cursor: pointer;
  padding: 15px 25px;
  transition: opacity 0.3s ease;
  border-left: 2px solid transparent;
}

.sidebar-button:hover,
.navbar ul a.active {
  background-color: #37373b;
  border-left: 2px solid white;
  color: white;
  width: 100%;
  display: flex;
}

.cek {
  border: 2px solid red;
}
/* 
@media (max-width: 700px) {
  #nav-side {
    display: hidden;
  }
}

@media (min-width: 700px) {
  #nav-side {
    display: block;
  }
} */
